<div fxLayout="row" style="background-color:#303030; color:#fff">
	<div fxFlex="65%" class="video-detail">
		<div fxLayout="column" fxLayoutGap="8px">
			<app-video-player *ngIf="videoAvailable" [videoUrl]="videoUrl"></app-video-player>
		      <div fxLayout="row">
		        <div fxFlex="50%">
		          <div class="mat-title"><h2>{{videoTitle}}</h2></div>
		          <span class="view-count">{{viewCount}} views</span>
		          <span class="dot"></span>
		          <span class="video-upload-date"> May 26, 2023</span>
		           <div>{{videoDescription}}</div>
		        </div>
		        <div fxFlex="50%" fxLayoutAlign="end">
		          <span class="like-dislike-section">
		              <button mat-icon-button class="thumbs-up" (click)="likeVideo()">
		                <mat-icon>thumb_up</mat-icon>
		                <p style="font-size:15px">{{likeCount}}</p>
		              </button>
		              <button mat-icon-button class="thumbs-down" (click)="disLikeVideo()">
		                <mat-icon>thumb_down</mat-icon>
		                <p style="font-size:15px">{{dislikeCount}}</p>
		              </button>
		          </span>
		        </div>
			 </div>
			 <mat-divider></mat-divider>
		      <mat-card-header>
		        <mat-card-title>Follow_Code</mat-card-title>
		        <mat-card-subtitle class="subtitles">  4.2K Subscribers</mat-card-subtitle>&nbsp;
		        <button *ngIf="showSubscribeButton" class="subscribe-button" mat-raised-button color="warn"
		         (click)="subscribeToUser()">SUBSCRIBE</button>
		        <button *ngIf="showUnSubscribeButton" class="subscribe-button-clicked"
		                mat-raised-button color="diabled" (click)="unSubscribeToUser()">
		          UNSUBSCRIBE
		        </button>
		      </mat-card-header>
		      <mat-divider></mat-divider>
		      <app-comments *ngIf="videoAvailable" [videoId]="videoId"></app-comments> 
		</div>
	</div>
	<div fxFlex="5%">
	</div>
	<div fxFlex="30%">
		Suggestions bar
	</div>
</div>