<mat-sidenav [mode]="'side'" opened>
  <mat-nav-list role="list">
    <mat-list-item role="listitem" routerLink="/featured" style="padding-top:30px">
      <p><i class="inline-icon material-icons" style="vertical-align: -6px;">home</i> Home</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/subscriptions" style="padding-top:30px">
      <p><i class="inline-icon material-icons" style="vertical-align: -6px;">subscriptions</i> Subscriptions</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/history" style="padding-top:30px">
      <p><i class="inline-icon material-icons" style="vertical-align: -6px;">history</i> History</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/liked-videos" style="padding-top:30px">
      <p><i class="inline-icon material-icons" style="vertical-align: -6px;">thumb_up</i> Liked Videos</p>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>